body {
    background-color: rgb(217, 159, 157);
}
 .img1{ 
    width: 35%;
 }

.img2{ 
    width: 35%;
 }

.img3{ 
    width:15%;
 }

 h1 { 
    color:rgb(87, 54, 10);
    font-style: italic;
 
   }
   h2{
     font-style: italic;
     color:rgb(87, 54, 10);
   }

   h3{  
      font-style: italic;
      color:rgb(87, 54, 10);
   
   }



 .lista{
     text-decoration: overline;
     color:rgb(63, 26, 26)

 }
